div(class="w-full pl-5 pr-0 py-[calc(0.4rem)] content-container1-box flex justify-between bg-custom-grey text-[17px] font-semibold items-center")
 div(class="flex items-center justify-center")
   span(class="") Automations
   span(class="auto-number flex items-center justify-center bg-white text-1xl font-medium text-[calc(0.8rem)]  rounded-full p-1 px-2 ml-[calc(10px)] botrder border-solid") 19
 div(class="flex items-center btn-container gap-3 text-sm")
   div
     a(class="explore bg-white text-custom-voilet px-3 py-[0.15rem] font-semibold rounded-sm border-[1px] border-solid border-custom-voilet") Explore Templates
   div
     div(class="automation bg-custom-voilet text-white px-3 py-[0.15rem] rounded-sm  font-semibold flex items-center justify-center border-[1px] ")
       div(class="flex items-center justify-center .btns")
         div(class="plus flex items-center justify-center text-4xl mr-0.5 font-light")
           svg.shrink-0.size-4(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true' width='16' height='16')
             path(stroke-linecap='round' stroke-linejoin='round' d='M12 5v14m-7-7h14')
         div(class="flex justify-center items-center font-light")
           | New Automation