div(class="w-full text-5 items-center  py-1 h-12 pl-5 pr-0 py-[calc(0.4rem)] content-container1-box flex justify-between bg-custom-grey font-semibold items-center")
 div(class="flex items-center justify-center ")
   span(class="text-xl font-semibold text-[#101828]") Automations
   span(class="auto-number flex items-center justify-center bg-white  px-1.5 py-1 font-medium text-custom-0.75  rounded-full ml-[calc(10px)] border border-solid border-custom-border") 19
 div(class="flex items-center btn-container gap-2 tracking-tighter text-sm")
   div(class="cursor-pointer hover:bg-[#B7B4FE]")
     a(class="explore bg-white hover:bg-[#967fe4] text-custom-voilet px-3 py-2 font-semibold rounded-sm border-[0.5px] border-solid border-custom-voilet") Explore Templates
   div(class="cursor-pointer")
     div(class="automation bg-custom-voilet text-white px-3 py-2 rounded-sm  font-semibold flex items-center justify-center border-[0.5px] ")
       div(class="flex items-center justify-center gap-[0.2px] btns")
         div(class="plus flex items-center justify-center text-[16px] mr-[2px] font-light")
           svg.shrink-0.size-4(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true' width='16' height='16')
             path(stroke-linecap='round' stroke-linejoin='round' d='M12 5v14m-7-7h14')
         div(class="flex justify-center items-center font-light")
           | New Automation