//- link(rel='stylesheet', href='/css/content-container3.css')
.table-div(class="w-full h-[900px]")(style='overflow-x: auto; display: block; ')
  table(class="mx-auto table-auto   border-[0.9px] border-solid border-[#e0e3eb] w-97.5 border-collapse max-h-[900px]")(id="table")
      include ./tablehead.pug 
      include ./tablebody.pug
