div(class="navbar-container-top flex flex-col items-center justify-center gap-8 py-3 w-14")
  div(class="py-3 w-14 h-9 items-center justify-center flex ")
    div
      svg.shrink-0.h-8.w-auto.shrink-0(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg' aria-hidden='false' aria-label='UnifyApps')
        title UnifyApps
        path(d='M16.5399 26.1583C15.89 25.7084 15.2951 25.1435 14.7902 24.5036C18.4546 23.3438 21.1191 19.9095 21.1191 15.8652V8.19655C21.1191 7.74163 21.2191 7.31671 21.3941 6.92678C20.8891 6.40187 20.5292 5.74699 20.3642 5.01212C19.6494 5.87697 19.2194 6.98677 19.2194 8.19655V15.8652C19.2194 19.2296 16.8899 22.0591 13.7554 22.8189C13.2805 21.7941 13.0106 20.6643 13.0106 19.5045V8.19655C13.0106 5.43704 10.766 3.19244 8.00645 3.19244C5.24694 3.19244 3.00234 5.43704 3.00234 8.19655V9.77127H4.902V8.19655C4.902 6.48686 6.29675 5.09211 8.00645 5.09211C9.71614 5.09211 11.1109 6.48686 11.1109 8.19655V19.5045C11.1109 20.7243 11.3459 21.9141 11.7658 23.0139C8.59634 22.8839 5.96181 20.6843 5.15696 17.7348H3.19731C4.06215 21.8341 7.7065 24.9186 12.0557 24.9186C12.2757 24.9186 12.4956 24.9086 12.7156 24.8936C13.6754 26.3833 15.0052 27.5981 16.5349 28.3629V26.1583H16.5399Z' fill='#383838')
        path(d='M28.1777 5.1369C27.9927 5.86177 27.6128 6.50666 27.0929 7.01157C27.2428 7.3765 27.3278 7.77643 27.3278 8.19136V19.4993C27.3278 21.8689 26.188 24.1135 24.5033 25.5932V27.9678C27.2678 26.2581 29.2275 23.0287 29.2275 19.4993V8.19636C29.2275 7.04656 28.8326 5.98675 28.1777 5.1369Z' fill='#383838')
        path(d='M24.2888 6.28244C25.4706 6.28244 26.4288 5.32433 26.4288 4.14244C26.4288 2.96055 25.4706 2.00244 24.2888 2.00244C23.1069 2.00244 22.1488 2.96055 22.1488 4.14244C22.1488 5.32433 23.1069 6.28244 24.2888 6.28244Z' fill='#12D965')
        path(d='M22.6643 28.7626V26.2926L20.5243 25.0526L18.3793 26.2926V28.7626L20.5243 30.0026L22.6643 28.7626Z' fill='#FC7878')
        path(d='M5.94734 11.7804H2.00234V15.7254H5.94734V11.7804Z' fill='#705AF8')
  div(class=" gap-7 bg-custom-grey flex flex-col text-[#667085] font-light")
    div(class="w-14 h-9.32 items-center justify-center flex flex-col")
      div
        a.cursor-pointer.no-underline(text-decoration='none')
          svg.svg-icon.shrink-0.size-5.ua-side-nav-item-active.shrink-0(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='false' width='20' height='20' aria-label='Projects')
            path(stroke-linecap='round' stroke-linejoin='round' d='M7 9.5 2 12l9.642 4.821c.131.066.197.099.266.111.06.012.123.012.184 0 .069-.012.135-.045.266-.11L22 12l-5-2.5m-10 5L2 17l9.642 4.821c.131.066.197.099.266.111.06.012.123.012.184 0 .069-.012.135-.045.266-.11L22 17l-5-2.5M2 7l9.642-4.821c.131-.066.197-.098.266-.111a.5.5 0 0 1 .184 0c.069.013.135.045.266.11L22 7l-9.642 4.821c-.131.066-.197.099-.266.111a.501.501 0 0 1-.184 0c-.069-.012-.135-.045-.266-.11L2 7Z')
    div(class="w-14 h-9.32 items-center justify-center flex flex-col")   
      div
        a.cursor-pointer.no-underline
          svg(class="").shrink-0.size-5.ua-side-nav-item-active.shrink-0(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='false' width='20' height='20' style='color:rgb(78, 38, 219);' aria-label='Unify Workflows')
            path(stroke-linecap='round' stroke-linejoin='round' d='M13 2 4.093 12.688c-.348.418-.523.628-.525.804a.5.5 0 0 0 .185.397c.138.111.41.111.955.111H12l-1 8 8.907-10.688c.348-.418.523-.628.525-.804a.5.5 0 0 0-.185-.397c-.138-.111-.41-.111-.955-.111H12l1-8Z')
    div(class="w-14 h-9.32 items-center justify-center flex flex-col")
      div
        a.cursor-pointer.no-underline
          svg(class="").shrink-0.size-5.ua-side-nav-item-active-false.shrink-0(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='false' width='20' height='20' aria-label='Unify Data')
            path(stroke-linecap='round' stroke-linejoin='round' d='M4 7h11m0 0-4 4m4-4-4-4M4 17h16m0 0-4 4m4-4-4-4')
    div(class="w-14 h-9.32 items-center justify-center flex flex-col")
      div
        a.cursor-pointer.no-underline
          svg(class="").shrink-0.size-5.ua-side-nav-item-active-false.shrink-0(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='false' width='20' height='20' aria-label='Unify Applications')
            path(stroke-linecap='round' stroke-linejoin='round' d='M3 9h18M9 9v12M7.8 3h8.4c1.68 0 2.52 0 3.162.327a3 3 0 0 1 1.311 1.311C21 5.28 21 6.12 21 7.8v8.4c0 1.68 0 2.52-.327 3.162a3 3 0 0 1-1.311 1.311C18.72 21 17.88 21 16.2 21H7.8c-1.68 0-2.52 0-3.162-.327a3 3 0 0 1-1.311-1.311C3 18.72 3 17.88 3 16.2V7.8c0-1.68 0-2.52.327-3.162a3 3 0 0 1 1.311-1.311C5.28 3 6.12 3 7.8 3Z')
    div(class="w-14 h-9.32 items-center justify-center flex flex-col")
      div
        a.cursor-pointer.no-underline
          svg(class="").shrink-0.size-5.ua-side-nav-item-active-false.shrink-0(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='false' width='20' height='20' aria-label='Composable CDP')
            path(stroke-linecap='round' stroke-linejoin='round' d='M18.5 16c1.933 0 3.5-2.91 3.5-6.5S20.433 3 18.5 3m0 13c-1.933 0-3.5-2.91-3.5-6.5S16.567 3 18.5 3m0 13L5.444 13.626c-.928-.168-1.392-.253-1.767-.437a3 3 0 0 1-1.563-1.873C2 10.914 2 10.443 2 9.5c0-.943 0-1.414.114-1.816a3 3 0 0 1 1.563-1.873c.375-.184.839-.268 1.767-.437L18.5 3M5 14l.394 5.514c.037.524.056.785.17.984a1 1 0 0 0 .432.402c.206.1.469.1.994.1h1.782c.6 0 .9 0 1.123-.12a1 1 0 0 0 .44-.474c.101-.231.079-.53.032-1.129L10 14.5')
    div(class="w-14 h-9.32 items-center justify-center flex flex-col")
      div
        a.cursor-pointer.no-underline
          svg(class="").shrink-0.size-5.ua-side-nav-item-active-false.shrink-0(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='false' width='20' height='20' aria-label='Unify Objects')
            path(stroke-linecap='round' stroke-linejoin='round' d='M3 9h18M3 15h18M12 3v18M7.8 3h8.4c1.68 0 2.52 0 3.162.327a3 3 0 0 1 1.311 1.311C21 5.28 21 6.12 21 7.8v8.4c0 1.68 0 2.52-.327 3.162a3 3 0 0 1-1.311 1.311C18.72 21 17.88 21 16.2 21H7.8c-1.68 0-2.52 0-3.162-.327a3 3 0 0 1-1.311-1.311C3 18.72 3 17.88 3 16.2V7.8c0-1.68 0-2.52.327-3.162a3 3 0 0 1 1.311-1.311C5.28 3 6.12 3 7.8 3Z')
    div(class="w-14 h-9.32 items-center justify-center flex flex-col")
      div
        a.cursor-pointer.no-underline
          svg(class="h-5 w-5").shrink-0.size-5.ua-side-nav-item-active-false.shrink-0(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='false' width='20' height='20' aria-label='Unify Copilot')
            path(stroke-linecap='round' stroke-linejoin='round' d='M4.5 22v-5m0-10V2M2 4.5h5m-5 15h5M13 3l-1.734 4.509c-.282.733-.423 1.1-.643 1.408a3 3 0 0 1-.706.707c-.308.219-.675.36-1.408.642L4 12l4.509 1.734c.733.282 1.1.423 1.408.643.273.194.512.433.707.706.219.308.36.675.642 1.408L13 21l1.734-4.509c.282-.733.423-1.1.643-1.408.194-.273.433-.512.706-.707.308-.219.675-.36 1.408-.642L22 12l-4.509-1.734c-.733-.282-1.1-.423-1.408-.642a3 3 0 0 1-.706-.707c-.22-.308-.36-.675-.643-1.408L13 3Z')
    div(class="w-14 h-9.32 items-center justify-center flex flex-col")
      div
        a.cursor-pointer.no-underline
          svg(class="h-5 w-5").shrink-0.size-5.ua-side-nav-item-active-false.shrink-0(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='false' width='20' height='20' aria-label='Platform Tools')
            path(stroke-linecap='round' stroke-linejoin='round' d='M8.4 3H4.6c-.56 0-.84 0-1.054.109a1 1 0 0 0-.437.437C3 3.76 3 4.04 3 4.6v3.8c0 .56 0 .84.109 1.054a1 1 0 0 0 .437.437C3.76 10 4.04 10 4.6 10h3.8c.56 0 .84 0 1.054-.109a1 1 0 0 0 .437-.437C10 9.24 10 8.96 10 8.4V4.6c0-.56 0-.84-.109-1.054a1 1 0 0 0-.437-.437C9.24 3 8.96 3 8.4 3ZM19.4 3h-3.8c-.56 0-.84 0-1.054.109a1 1 0 0 0-.437.437C14 3.76 14 4.04 14 4.6v3.8c0 .56 0 .84.109 1.054a1 1 0 0 0 .437.437C14.76 10 15.04 10 15.6 10h3.8c.56 0 .84 0 1.054-.109a1 1 0 0 0 .437-.437C21 9.24 21 8.96 21 8.4V4.6c0-.56 0-.84-.109-1.054a1 1 0 0 0-.437-.437C20.24 3 19.96 3 19.4 3ZM19.4 14h-3.8c-.56 0-.84 0-1.054.109a1 1 0 0 0-.437.437C14 14.76 14 15.04 14 15.6v3.8c0 .56 0 .84.109 1.054a1 1 0 0 0 .437.437C14.76 21 15.04 21 15.6 21h3.8c.56 0 .84 0 1.054-.109a1 1 0 0 0 .437-.437C21 20.24 21 19.96 21 19.4v-3.8c0-.56 0-.84-.109-1.054a1 1 0 0 0-.437-.437C20.24 14 19.96 14 19.4 14ZM8.4 14H4.6c-.56 0-.84 0-1.054.109a1 1 0 0 0-.437.437C3 14.76 3 15.04 3 15.6v3.8c0 .56 0 .84.109 1.054a1 1 0 0 0 .437.437C3.76 21 4.04 21 4.6 21h3.8c.56 0 .84 0 1.054-.109a1 1 0 0 0 .437-.437C10 20.24 10 19.96 10 19.4v-3.8c0-.56 0-.84-.109-1.054a1 1 0 0 0-.437-.437C9.24 14 8.96 14 8.4 14Z')
    