thead(class="w-full text-[#344054] font-normal text-[14px]  text-[#475467]   top-0  border-[0.9px] border-solid border-[#e0e3eb]")
      tr(class="z-100 border-[0.9px] border-solid border-[#e0e3eb]")
        th(class="col1 h-8 border-[1px] border-solid border-[#e0e3eb]  w-[53px] font-light  top-0 z-1000  bg-white ") Running
        th(class="col2 h-8 text-left border-[1px] border-solid border-[#e0e3eb] pl-2.5 w-[283px] font-light  top-0 z-10 bg-white") Automation Name
        th(class="col3 h-8 text-left border-[1px] border-solid border-[#e0e3eb]  pl-2.5 w-[133px] font-light  top-0 z-10 bg-white") Trigger
        th(class="col4 h-8 text-left border-[1px] border-solid border-[#e0e3eb] pl-2.5 w-[223px] font-light  top-0 z-10 bg-white") Apps Used
        th(class="col5 h-8 text-left border-[1px] border-solid border-[#e0e3eb] pl-2.5  w-[163px] font-light  top-0 z-10 bg-white") Projects
        th(class="col6 h-8 text-left border-[1px] border-solid border-[#e0e3eb]  pl-2.5 w-[205px] font-light  top-0 z-10 bg-white") Created By
        th(class="col7 h-8 text-left border-[1px] border-solid border-[#e0e3eb] pl-2.5 w-[205px] font-light  top-0 z-10 bg-white") Last Modified By
        th(class="col8 h-8 text-left border-[1px] border-solid border-[#e0e3eb] w-[61px] font-light  top-0 z-10 bg-white")
        th(class="col9 h-8 text-left border-[1px] border-solid border-[#e0e3eb] rounded-tr-custom w-[42px]  font-light z-10 bg-white")